<h2 mat-dialog-title>New Address</h2>
<mat-dialog-content class="mat-typography">
    <form class="needs-validation" #f="ngForm" (ngSubmit)="submitAddress(f)" novalidate>
        <div class="mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control rounded-0" name="name" ngModel #name="ngModel" placeholder="Name" required>
         
        </div>
        <div class="mb-3">
            <label for="phone">Phone</label>
            <input type="text" class="form-control rounded-0" name="phone" minlength="10" maxlength="10" ngModel #phone="ngModel" placeholder="Phone" required>
          
        </div>

        <div class="mb-3">
            <label for="address">Address</label>
            <textarea name="" id="" cols="30" rows="5" name="address" ngModel #address="ngModel" required
                class="form-control rounded-0"></textarea>
            
        </div>


        <div class="row">
            <div class="col-md-5 mb-3">
                <label for="country">Country</label>
                <select class="custom-select d-block w-100" class="form-control rounded-0" name="country" ngModel
                    #country="ngModel" id="country" required>
                    <option value="">Choose...</option>
                    <option value="india">India</option>
                </select>
             
            </div>
            <div class="col-md-4 mb-3">
                <label for="state">State</label>
                <select class="custom-select d-block w-100" ngModel name="state" #state="ngModel" required id="state"
                    class="form-control rounded-0" required>
                    <option value="">Choose...</option>
                    <option value="West Begal">West Bengal</option>
                </select>
           
            </div>
            <div class="col-md-3 mb-3">
                <label for="zip">Zip</label>
                <input type="text" class="form-control rounded-0" name="pincodde" ngModel required #pincode="ngModel" id="zip"
                    placeholder="" required>
                <div class="invalid-feedback">
                    Zip code required.
                </div>
            </div>
        </div>
        <!-- <hr class="mb-4">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address" required>
            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing
                address</label>
        </div> -->
        <hr class="mb-4">
<!-- 
        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
            <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="paypal">Paypal</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control rounded-0" id="cc-name" placeholder="" required>
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                    Name on card is required
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                <input type="text" class="form-control rounded-0" id="cc-number" placeholder="" required>
                <div class="invalid-feedback">
                    Credit card number is required
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input type="text" class="form-control rounded-0" id="cc-expiration" placeholder="" required>
                <div class="invalid-feedback">
                    Expiration date required
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="cc-expiration">CVV</label>
                <input type="text" class="form-control rounded-0" id="cc-cvv" placeholder="" required>
                <div class="invalid-feedback">
                    Security code required
                </div>
            </div>
        </div> -->
        <!-- <hr class="mb-4"> -->
        <button mat-raised-button color="primary" [disabled]="!f.valid" >Save Address</button>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>